<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="dashboard.component.scss">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <img class="logo" src="/assets/logo-green.png">
            <nav>
                <ul>
                    <li><i class="material-icons">person</i> <a routerLink="/profile-page" [ngClass]="{'active': isProfileActive}"
                            (click)="activateProfile()">Profile</a></li>
                    <li><i class="material-icons">dashboard</i> <a href="#dashboard" [class.active]="isDashboardActive"
                            (click)="activateDashboard()">Dashboard</a></li>
                    <li><i class="material-icons">business</i> <a href="#departments"
                            [class.active]="isDepartmentActive" (click)="activateDepartment()">Departments</a></li>
                    <li><i class="material-icons">exit_to_app</i> <a href="#logout" (click)="logout()">Log Out</a></li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="profile-section">
                <div class="profile-section">
                    <div class="dashboard-name">Dashboard</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>